astroid
certifi
charset-normalizer
decorator
dill
dnspython
idna
imageio
imageio-ffmpeg
isort
jedi
lazy-object-proxy
mccabe
moviepy
numpy
parso
pika
Pillow
platformdirs
proglog
pylint
pymongo
requests
six
tomli
tomlkit
tqdm
typing-extensions
urllib3
wrapt
