# Ignore virtual environment
venv/


# Ignore specific .docx and .mp4 files
Video\ to\ Audio\ Converter\ Project.docx
Screen\ Recording\ 2024-12-27\ 024656.mp4

# Ignore .env file in the auth-service directory
/src/auth-service/.env

# Ignore Terraform-related files
terraform/

sonarqube/